src/main/resources/xsd/claim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://claim.webservice.ws.java.webservice.com/"
           xmlns:tns="http://claim.webservice.ws.java.webservice.com/"
           elementFormDefault="qualified">

    <xs:element name="createClaimRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="claimNumber" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="policyId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createClaimResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="claimId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClaimRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="claimNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getClaimResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="claimNumber" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
