src/main/resources/xsd/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://payment.webservice.ws.java.webservice.com/"
           xmlns:tns="http://payment.webservice.ws.java.webservice.com/"
           elementFormDefault="qualified">

    <xs:element name="createPaymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:double"/>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="policyId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPaymentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="paymentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPaymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paymentId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPaymentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:double"/>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="policyId" type="xs:long"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
